body {
  background-color: #F1F3F2;
}
.box-menu {
  /*margin: 0 auto;*/
  width: 70%;
}
ul {
  list-style: none;
  display: inline-block;
  float: left;
  margin-bottom: 0;
}
li {
  text-align: center;

}
button {
  padding: 40px 80px;
  background-color: #8FC4BD;
  margin-left: 0;
  margin-right: 3px;
  margin-bottom: 0;

}
p {
  background-color: #fff;
  border: 1px solid black;
  clear: both;
  display: inline-block;
  margin-top: 0;
  padding: 5% 15% 5% 10%;
  width: 100%;
}
